body {
    background-color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white
}
h1{
    text-align: center;
    text-indent: 10px;
    color: #f64c72;
}
.maindiv{
    text-align: center;
    background-color: #553d67;
    color:white;
    width: 600px;
    height: 300px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;

}

#footer {
    font-weight: 600;
    text-transform: capitalize;
}
